body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
header {
    flex: 0;
}

nav {

}

main {
    flex: 5 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow-y: hidden;
}

footer {
    flex: 0 30px;
}

.card-view-wrapper {
    height: 100%;
    flex: 0 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.card-view-wrapper .card {
    max-height: 20rem;
    max-width: 30rem;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}
