@import url("colors.css") root;

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}
header {
    flex: 0;
    padding-left: 0;
    background: var(--color-primary-0);
}

main {
    flex: 5 calc(100vh - 110px);
    background: var(--color-primary-2-gradient);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /*overflow-y: scroll;*/
}

#home-main {
    background: var(--color-primary-0);
}

footer {
    flex: 0 30px;
}

.card-view-wrapper {
    height: 100%;
    flex: 0 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.flashcard {
    flex: 0 1 600px;
    aspect-ratio: 5 / 3;
}

.side-bar {
    flex: 0 1 200px;
    /*margin: 5px;*/
    border-radius: 20px;

}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}

@media (max-width: 500px) {
    .side-bar {
        display: none;
    }
}

@media (orientation: portrait) {
    .side-bar {
        display: none;
        position: fixed;
    }
}
